<%- include('../../partials/inventario/header.ejs') %>

<div class="container mt-5">
    <!-- Gr치fico de clasificaci칩n de productos -->
    <div class="row">
        <div class="col-md-6">
            <h3>Clasificaci칩n de productos mas vendidos</h3>
            <canvas id="productChart"></canvas>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="script.js"></script>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Hacer una solicitud AJAX para obtener los datos desde la ruta /stats
        fetch('/dashboard/inventario/ventas/stats')
            .then(response => response.json())
            .then(data => {
                // Llenar el gr치fico con los datos obtenidos
                const productChartConfig = {
                    type: 'bar',
                    data: data,
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                            },
                        },
                    },
                };

                const productChartCanvas = document.getElementById('productChart').getContext('2d');
                new Chart(productChartCanvas, productChartConfig);
            })
            .catch(error => console.error(error));
    });
</script>
