<%- include('../../partials/inventario/header.ejs') %>
<link rel="stylesheet" href="/css/ventas.css">
<div id="toast-container" class="position-absolute top-0 end-0 p-3"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow border-0 mb-7">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12 mb-4 mb-sm-0">
                            <h1 class="h2 mb-0 ls-tight">Carrito de Compras</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul id="cart-list" class="list-group">
                        <!-- Aquí se mostrarán los elementos del carrito -->
                    </ul>
                    <div class="d-flex justify-content-between mt-4">
                        <strong>Subtotal:</strong>
                        <span id="subtotal-amount">$0</span>
                    </div>
                    <div class="d-flex justify-content-between mt-4">
                        <strong>IVA:</strong>
                        <span id="iva-amount">$0</span>
                    </div>
                    <div class="d-flex justify-content-between mt-4">
                        <strong>Total:</strong>
                        <span id="total-amount">$0</span>
                    </div>

                    <div class="mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <a onclick="realizarPago()" id="checkout-button" class="btn btn-primary w-100"
                                    data-bs-toggle="modal">
                                    <i class="bi bi-cash-stack"></i>
                                </a>
                            </div>
                            <div class="col-md-6 mt-4 mt-md-0">
                                <button id="clear-cart-button" class="btn btn-danger w-100"><i
                                        class="bi bi-cart-x"></i></button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <center><span style="font-size: 12px; color: #a3a3a3;">El carrito no guarda productos si recargas la
                            pagina</span></center>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="table-responsive">
                <table id="productTable" class="table table-striped"></table>
            </div>
        </div>
    </div>
</div>

<!-- Modal para seleccionar la forma de pago -->
<div class="modal fade" id="paymentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentModalLabel">Forma de Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-primary me-3 w-100" id="pagoEfectivo">
                            <i class="bi bi-cash"></i> Efectivo
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-primary w-100" id="pagoTarjeta">
                            <i class="bi bi-credit-card"></i> Tarjeta
                        </button>
                    </div>
                    <div class="col-md-12 mt-5">
                        <button type="button" class="btn btn-outline-primary w-100" id="pagoCredito">
                            <i class="bi bi-credit-card"></i> Credito
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Primer modal (opcionesModal) -->
<div class="modal fade" id="opcionesModal" tabindex="-1" aria-labelledby="opcionesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="opcionesModalLabel">Elija una opción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <button type="button"
                            class="w-100 btn btn-outline-primary d-flex justify-content-between align-items-center"
                            data-bs-toggle="modal" data-bs-target="#buscarClienteModal" id="clienteRegistrado">
                            <span>Cliente Registrado</span>
                            <i class="bi bi-person"></i>
                        </button>
                    </div>
                    <div class="col-12 mt-4">
                        <button type="button"
                            class="w-100 btn btn-outline-primary d-flex justify-content-between align-items-center"
                            data-bs-toggle="modal" data-bs-target="#nuevoClienteModal" id="nuevoCliente">
                            <span>Nuevo Cliente</span>
                            <i class="bi bi-person-plus"></i>
                        </button>
                    </div>
                    <div class="col-12 mt-4">
                        <button type="button"
                            class="w-100 btn btn-outline-primary d-flex justify-content-between align-items-center"
                            data-bs-toggle="modal" data-bs-target="#paymentModal" id="sinRegistro">
                            <span>Sin registro</span>
                            <i class="bi bi-person-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Segundo modal (buscarClienteModal) -->
<div class="modal fade" id="buscarClienteModal" tabindex="-1" aria-labelledby="buscarClienteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buscarClienteModalLabel">Buscar Cliente Registrado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="telefono">Teléfono:</label>
                        <input type="text" class="form-control" id="btelefono" placeholder="Teléfono del cliente">
                    </div>
                    <button type="submit" class="btn btn-primary" id="buscarClienteBtn">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal ticket de compra -->
<div class="modal fade" id="resumenCompraModal" tabindex="-1" aria-labelledby="resumenCompraModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resumenCompraModalLabel">Resumen de Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Aquí mostrarás los detalles de la compra -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody id="resumenCompraBody">
                        <!-- Aquí se generará la lista de productos -->
                    </tbody>
                </table>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>Subtotal:</span>
                    <span id="subtotal">$0.00</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>IVA (16%):</span>
                    <span id="iva">$0.00</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <strong>Total:</strong>
                    <strong id="total">$0.00</strong>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="otraFormaPago">Seleccionar otra forma de pago</button>
                <button type="button" class="btn btn-success" id="confirmarCompra">Confirmar compra</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mostrar resultados de cliente -->
<div class="modal fade" id="resultadosClienteModal" tabindex="-1" aria-labelledby="resultadosClienteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultadosClienteModalLabel">Resultados de la Búsqueda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul id="listaResultados" class="list-group">
                    <!-- Aquí se mostrarán los resultados -->
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmarCorreoModal" tabindex="-1" aria-labelledby="confirmarCorreoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarCorreoModalLabel">Enviar PDF por correo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>¿Deseas enviar el PDF del ticket por correo?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="enviarCorreoNo">No, solo cobrar</button>
                <button type="button" class="btn btn-primary" id="enviarCorreoSi">Sí, enviar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="nuevoClienteModal" tabindex="-1" aria-labelledby="nuevoClienteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoClienteModalLabel">Registro de nuevo cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="registroForm" onsubmit="return validarFormulario()">
                    <div class="mb-3">
                        <label for="nombres" class="form-label">Nombres:</label>
                        <input type="text" class="form-control" id="rnombres" name="nombres" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos:</label>
                        <input type="text" class="form-control" id="rapellidos" name="apellidos" required>
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo:</label>
                        <input type="email" class="form-control" id="rcorreo" name="correo" required>
                    </div>
                    <div class="mb-3">
                        <label for="numero" class="form-label">Número de teléfono:</label>
                        <input type="number" class="form-control" id="rnumero" name="numero" maxlength="10" oninput="validarNumero(this)" required>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" onclick="enviarFormulario()">Registrar Cliente</button>
                    </div>
                </form>

                <script>
                    function validarFormulario() {
                        // Validar Nombres y Apellidos (solo letras)
                        var regexLetrasConEspacios = /^[A-Za-zÁáÉéÍíÓóÚúÜüÑñ\s]+$/;
                        var nombres = document.getElementById('rnombres').value;
                        var apellidos = document.getElementById('rapellidos').value;
                        if (!regexLetrasConEspacios.test(nombres) || !regexLetrasConEspacios.test(apellidos)) {
                            addToast('Nombres y apellidos deben contener solo letras.', 'danger', '¡Error!');
                            return false;
                        }

                        // Validar Correo (formato de correo electrónico)
                        var regexCorreo = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                        var correo = document.getElementById('rcorreo').value;
                        if (!regexCorreo.test(correo)) {
                            addToast('Por favor, introduce un correo electrónico válido.', 'danger', '¡Error!');
                            return false;
                        }

                        // Validar Número de Teléfono (solo números)
                        var regexNumeros = /^\d+$/;
                        var numero = document.getElementById('rnumero').value;
                        if (!regexNumeros.test(numero)) {
                            addToast('El número de teléfono debe contener solo números.', 'danger', '¡Error!');
                            return false;
                        }

                        // Si todas las validaciones pasan, se envía el formulario
                        return true;
                    }

                    function enviarFormulario() {
                        if (validarFormulario()) {
                            var formulario = $('#registroForm');

                            $.ajax({
                                type: 'POST',
                                url: '/dashboard/usuarios/cliente/registro',
                                data: formulario.serialize(),
                                success: function(data) {
                                    if(data.status){
                                        addToast('Cliente registrado correctamente.', 'success', '¡Éxito!');

                                        $('#nuevoClienteModal').modal('hide');
                                        $('#paymentModal').modal('show');
                                        setCookie('clienteId', data.id, 1);
                                        let pagoCredito = getCookie("clienteId");
                                        console.log(pagoCredito);
                                    }else {
                                        addToast(data.error, 'danger', '¡Error!');
                                    }
                                },
                                error: function(error) {
                                    addToast('Ocurrió un error al enviar el formulario.', 'danger', '¡Error!');
                                }
                            });
                        }
                    }

                    function validarNumero(input) {
                        // Eliminar cualquier caracter no numérico
                        input.value = input.value.replace(/[^\d]/g, '');

                        // Limitar la longitud a 10 dígitos
                        if (input.value.length > 10) {
                            input.value = input.value.slice(0, 10);
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="/js/ventas.js?v=1.0.1"></script>
<script>
    if (getCookie("enviarCorreo") == "false") {
        document.getElementById("enviarCorreoSi").style.display = "none";
    }else {
        document.getElementById("enviarCorreoSi").style.display = "block";
    }
</script>