<header class="bg-surface-primary border-bottom">
    <div class="container-fluid">
        <div class="mb-npx">
            <ul class="nav nav-tabs mt-2 overflow-x border-0">
                <li class="nav-item ">
                    <a href="/dashboard/inventario/productos" class="nav-link active">Productos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link font-regular">Copia de seguridad</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link font-regular">Estadisticas</a>
                </li>
            </ul>
        </div>
    </div>
</header>