<header class="bg-surface-primary border-bottom">
    <div class="container-fluid">
        <div class="mb-npx">
            <!-- Nav -->
            <ul class="nav nav-tabs mt-2 overflow-x border-0">
                <li class="nav-item">
                    <a href="#" class="nav-link font-regular active">Balance general</a>
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link">Ventas</a>
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link">Corte de caja</a>
                </li>
            </ul>
        </div>
    </div>
</header>