<!-- Header -->
<%- include('../../partials/deudores/header.ejs') %>
<!--
    <div class="container mt-5">
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header bg-warning text-white">Deudor 1</div>
                    <div class="card-body">
                        <h5 class="card-title">Nombre: Juan Pérez</h5>
                        <p class="card-text">Correo: juan@example.com</p>
                        <p class="card-text">Teléfono: 123-456-7890</p>
                        <p class="card-text text-warning">Estado: Cerca del límite de crédito</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header bg-danger text-white">Deudor 2</div>
                    <div class="card-body">
                        <h5 class="card-title">Nombre: María Rodríguez</h5>
                        <p class="card-text">Correo: maria@example.com</p>
                        <p class="card-text">Teléfono: 987-654-3210</p>
                        <p class="card-text text-danger">Estado: Límite de crédito alcanzado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->