<link rel="stylesheet" type="text/css" href="/css/login.css">
<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form id="forgot-pass-form" class="row g-4" method="post">
                                    <div class="col-12">
                                        <% if (req.query.error === '1') { %>
                                            <div class="alert alert-danger">El correo no existe. Por favor, inténtalo de nuevo.</div>
                                        <% } %>
                                        <% if (req.query.error === '2') { %>
                                            <div class="alert alert-danger">Error desconocido, por favor contacte a soporte y proporcione el codigo ERR-FP-1.</div>
                                        <% } %>
                                    </div>

                                    <div class="col-12">
                                        <label>Correo<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                            <input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary px-5 float-end">Enviar correo de recuperacion</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                <i class="bi bi-box-arrow-in-right"></i>
                                <h2 class="fs-1">Sistema de administración</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#forgot-pass-form').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/forgot-pass",
                data: $(this).serialize(),
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>