<%- include('../../partials/otros/header.ejs') %>

<div class="container">
    <h1 class="mt-5">Gestión de Pedidos</h1>

    <!-- Formulario para Generar un Pedido -->
    <div class="card mt-4">
        <div class="card-header">Generar Pedido</div>
        <div class="card-body">
            <form id="orderForm">
                <div class="mb-3">
                    <label for="clientId" class="form-label">Proovedor:</label>
                    <input type="text" class="form-control" id="clientId" required>
                </div>
                <div class="mb-3">
                    <label for="productList" class="form-label">Productos:</label>
                    <textarea class="form-control" id="productList" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Generar Pedido</button>
            </form>
        </div>
    </div>

    <!-- Lista de Pedidos -->
    <div class="mt-4">
        <h3>Lista de Pedidos</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ID de Pedido</th>
                    <th>ID de Cliente</th>
                    <th>Productos</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody id="orderList">
                <!-- Los pedidos se listarán aquí -->
            </tbody>
        </table>
    </div>
</div>
<br><br><br>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
<script src="/scripts/main.js"></script>